$mobile: "(max-width: 767px)";
$mobile-pot: "(max-width: 480px)";
$mobile-land: "(min-width: 481px) and (max-width: 767px)";
$tab: "(min-width: 768px) and (max-width: 991px)";
$tab-land: "(min-width: 992px) and (max-width: 1024px)";
$upto-tab: "(max-width: 991px)";
$tab-ownwards: "(min-width: 768px)";
$medium: "(min-width: 992px) and (max-width: 1199px)";
$upto-medium: "(max-width: 1199px)";
$medium-ownwards: "(min-width: 992px)";
$large: "(min-width: 1200px)";